/* Author: Sebastian Aguirre Duque
    E-mail: sadw621@gmail.com */


body {
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #f3f4f5;
}

h1 {
    color: black;
    font-family: arial,sans-serif;
    font-size: 24px;
}

h3 {
    color: black;
    font-family: arial,sans-serif;
    font-size: 20px;
}

p {
    color: #757575;
    font-family: georgia, arial,sans-serif;
    font-size: 18px;
}

li {
    color: #757575;
    font-family: georgia, arial,sans-serif;
    font-size: 18px;
}